.gradient-custom {
    background: rgb(152, 255, 17);
    background: linear-gradient(129deg, rgba(152, 255, 17, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.red{
    background-color: rgb(228, 42, 42);
}
.orange{
    background-color: rgb(228, 169, 42);
}
.green{
    background-color: rgb(62, 204, 33);
}