.gradient-custom {
    background: rgb(152, 255, 17);
    background: linear-gradient(129deg, rgba(152, 255, 17, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

/*.gradient-custom {
    background: rgb(171, 17, 255);
    background: linear-gradient(129deg, rgba(171, 17, 255, 1) 0%, rgba(255, 190, 0, 1) 100%);
}*/